<div id="<%= dom_id custom_travel %>">
  <p>
    <strong>Departure:</strong>
    <%= custom_travel.departure %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= custom_travel.destination %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= custom_travel.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= custom_travel.price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= custom_travel.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= custom_travel.comments %>
  </p>

  <p>
    <strong>Physical:</strong>
    <%= custom_travel.physical %>
  </p>

  <p>
    <strong>Characteristics:</strong>
    <%= custom_travel.characteristics %>
  </p>

  <p>
    <strong>Event bool:</strong>
    <%= custom_travel.event_bool %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= custom_travel.event %>
  </p>

</div>
