<div id="<%= dom_id user %>">
  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Telephon:</strong>
    <%= user.telephon %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Encrypted password:</strong>
    <%= user.encrypted_password %>
  </p>

  <p>
    <strong>Banned:</strong>
    <%= user.banned %>
  </p>

</div>
